.about-bg-picture {
    background: #ffffff url("./img/laptop1.jpg") center/cover no-repeat fixed;
}

.about-picture-height {
    min-height: 450px;
}

.footer {
    min-height: 40px;
}

.text-black {
    color: black;
}